.menu-dropdown.svelte-1wwz954 {
	animation: svelte-1wwz954-slideDown 0.2s ease-out;
}
@keyframes svelte-1wwz954-slideDown {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
div.svelte-3r5klu::-webkit-scrollbar-thumb {
	border-radius: 50px;
	background-color: #0ec423;
}
div.svelte-3r5klu::-webkit-scrollbar {
	width: 10px;
}
.widget-loader-skeleton.svelte-vy7jkz {
	min-height: 60px;
}
@keyframes svelte-vy7jkz-pulse {
	0%,
	to {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}
.animate-pulse.svelte-vy7jkz {
	animation: svelte-vy7jkz-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
