.input-label.svelte-l3srj4 {
	color: gray;
}
.input-label.green.svelte-l3srj4 {
	color: green;
}
.input-label.orange.svelte-l3srj4 {
	color: orange;
}
.input-label.red.svelte-l3srj4 {
	color: red;
}
.status-message.svelte-l3srj4 {
	font-size: 0.875rem;
	margin-top: 0.25rem;
}
