.missing-widget.svelte-xg5zfl {
	animation: svelte-xg5zfl-fadeIn 0.3s ease-in;
}
@keyframes svelte-xg5zfl-fadeIn {
	0% {
		opacity: 0;
		transform: translateY(-4px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
