[data-sanitized].svelte-u2dqrz {
	position: relative;
	overflow: visible;
}
[data-sanitized].svelte-u2dqrz img {
	max-width: 100%;
	height: auto;
}
[data-sanitize-loading].svelte-u2dqrz {
	min-height: 1em;
}
