.DS_Store

# SvelteKit
/build
/.svelte-kit
/package
package-lock.json
bun.lockb
node_modules
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Secrets & Config
.env
.env.*
/config/private.ts
/config/private.test.ts
/config/backup/
.bundle-history.json

# SveltyCMS Runtime
/tmp
trash/*
media/*
mediaFiles/
mediaFolder/
compiledCollections/*
logs/*
/data.json
.node-version

# Ensure src/utils/media and its contents are not ignored
!src/utils/media/
!src/utils/media/*.ts

# Debug Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing & Build
/test-results/
/playwright-report/
/playwright/.cache/
/error-screenshot.png

# Rust
/indexes
/*.bin

# Paraglide.js
src/paraglide/**/*.js

# Nx Monorepo
.nx/

# Workspace Artifacts
dist/
apps/*/dist
shared/*/dist

# SvelteKit per-app
apps/setup/.svelte-kit
apps/cms/.svelte-kit
