.DS_Store

# sveltekit
/build
/.svelte-kit
/package
package-lock.json
node_modules
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# secrets
/config/private.ts
/config/public.ts
/data.json

# Backup folder under config
/config/backup/

# SveltyCMS
/tmp
trash/
media/
mediaFiles/
collections/
logs/
.node-version

# debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# build
/test-results/
/playwright-report/
/playwright/.cache/
/error-screenshot.png

# Rust
/data.json
/indexes
/*.bin
src/routes/(app)/dashboard/widgets/CPUWidget.svelte
src/routes/(app)/dashboard/widgets/DiskWidget.svelte
src/routes/(app)/dashboard/widgets/Last5ContentWidget.svelte
src/routes/(app)/dashboard/widgets/Last5MediaWidget.svelte
src/routes/(app)/dashboard/widgets/MemoryWidget.svelte
src/routes/(app)/dashboard/widgets/SystemMessagesWidget.svelte
src/routes/(app)/dashboard/widgets/UserActivityWidget.svelte
