html,
body {
	@apply h-full overflow-auto bg-[#eeeeee] dark:bg-black;
}

.wrapper {
	@apply dark:border-surface-500 dark:bg-surface-900 rounded-md border bg-white px-4 py-6 drop-shadow-2xl;
}

.wrapper2 {
	@apply border-secondary-500 dark:border-surface-400 dark:bg-surface-900 rounded-md border bg-white px-4 py-6 drop-shadow-2xl;
}

/* primary */
.gradient-primary {
	@apply from-primary-700 via-primary-600 to-primary-500 dark:from-primary-800 dark:via-primary-600 dark:to-primary-400 bg-gradient-to-br dark:bg-gradient-to-br;
}

.gradient-primary-hover {
	@apply hover:from-primary-700 hover:via-primary-600 hover:to-primary-500 dark:hover:from-primary-800 dark:hover:via-primary-600 dark:hover:to-primary-400 hover:bg-gradient-to-br dark:hover:bg-gradient-to-br;
}

.gradient-primary-focus {
	@apply focus:from-primary-800 focus:via-primary-600 focus:to-primary-500 dark:focus:from-primary-700 dark:focus:via-primary-600 dark:focus:to-primary-400 focus:bg-gradient-to-br dark:focus:bg-gradient-to-br;
}

/* secondary */
.gradient-secondary {
	@apply from-surface-500 via-surface-400 to-surface-300 dark:from-surface-600 dark:via-surface-500 dark:to-surface-400 bg-gradient-to-br dark:bg-gradient-to-br;
}

.gradient-secondary-hover {
	@apply hover:from-surface-400 hover:via-surface-400 hover:to-surface-500 dark:hover:from-surface-600 dark:hover:via-surface-500 dark:hover:to-surface-400 hover:bg-gradient-to-br dark:hover:bg-gradient-to-br;
}

.gradient-secondary-focus {
	@apply focus:from-surface-500 focus:via-surface-400 focus:to-surface-300 dark:focus:from-surface-600 dark:focus:via-surface-500 dark:focus:to-surface-400 focus:bg-gradient-to-br dark:focus:bg-gradient-to-br;
}

/* error */
.gradient-error {
	@apply from-error-600 via-error-500 to-error-300 dark:from-error-700 dark:via-error-500 dark:to-error-300 bg-gradient-to-br dark:bg-gradient-to-br;
}

.gradient-error-hover {
	@apply hover:from-error-600 hover:via-error-500 hover:to-error-300 dark:hover:from-error-700 dark:hover:via-error-500 dark:hover:to-error-300 hover:bg-gradient-to-br dark:hover:bg-gradient-to-br;
}

.gradient-error-focus {
	@apply focus:from-error-600 focus:via-error-500 focus:to-error-300 dark:focus:from-error-700 dark:focus:via-error-500 dark:focus:to-error-300 focus:bg-gradient-to-br dark:focus:bg-gradient-to-br;
}

/* tertiary */
.gradient-tertiary {
	@apply from-tertiary-600 via-tertiary-500 to-tertiary-300 dark:from-tertiary-800 dark:via-tertiary-600 dark:to-tertiary-400 bg-gradient-to-br dark:bg-gradient-to-br;
}

.gradient-tertiary-hover {
	@apply hover:from-tertiary-600 hover:via-tertiary-500 hover:to-tertiary-300 dark:hover:from-tertiary-800 dark:hover:via-tertiary-600 dark:hover:to-tertiary-400 hover:bg-gradient-to-br dark:hover:bg-gradient-to-br;
}

.gradient-tertiary-focus {
	@apply focus:from-tertiary-600 focus:via-tertiary-500 focus:to-tertiary-300 dark:focus:from-tertiary-800 dark:focus:via-tertiary-600 dark:focus:to-tertiary-400 focus:bg-gradient-to-br dark:focus:bg-gradient-to-br;
}

/* yellow */
.gradient-yellow {
	@apply bg-gradient-to-br from-yellow-600 via-yellow-500 to-yellow-300 dark:bg-gradient-to-br dark:from-yellow-700 dark:via-yellow-600 dark:to-yellow-300;
}

.gradient-yellow-hover {
	@apply hover:bg-gradient-to-br hover:from-yellow-600 hover:via-yellow-500 hover:to-yellow-300 dark:via-yellow-500 dark:hover:bg-gradient-to-br dark:hover:from-yellow-700 dark:hover:to-yellow-200;
}

.gradient-yellow-focus {
	@apply focus:bg-gradient-to-br focus:from-yellow-600 focus:via-yellow-500 focus:to-yellow-300 dark:focus:bg-gradient-to-br dark:focus:from-yellow-700 dark:focus:via-yellow-600 dark:focus:to-yellow-300;
}

/* warning */
.gradient-warning {
	@apply from-warning-600 via-warning-500 to-warning-300 dark:from-warning-700 dark:via-warning-600 dark:to-warning-300 bg-gradient-to-br dark:bg-gradient-to-br;
}

.gradient-warning-hover {
	@apply hover:from-warning-600 hover:via-warning-500 hover:to-warning-300 dark:hover:from-warning-700 dark:hover:via-warning-600 dark:hover:to-warning-300 hover:bg-gradient-to-br dark:hover:bg-gradient-to-br;
}

.gradient-warning-focus {
	@apply focus:from-warning-600 focus:via-warning-500 focus:to-warning-300 dark:focus:from-warning-700 dark:focus:via-warning-600 dark:focus:to-warning-300 focus:bg-gradient-to-br dark:focus:bg-gradient-to-br;
}

/* pink */
.gradient-pink {
	@apply bg-gradient-to-br from-pink-700 via-pink-600 to-pink-400 dark:bg-gradient-to-br dark:from-pink-700 dark:via-pink-600 dark:to-pink-300;
}

.gradient-pink-hover {
	@apply hover:bg-gradient-to-br hover:from-pink-700 hover:via-pink-600 hover:to-pink-400 dark:hover:bg-gradient-to-br dark:hover:from-pink-700 dark:hover:via-pink-600 dark:hover:to-pink-300;
}

.gradient-pink-focus {
	@apply focus:bg-gradient-to-br focus:from-pink-700 focus:via-pink-600 focus:to-pink-400 dark:focus:bg-gradient-to-br dark:focus:from-pink-700 dark:focus:via-pink-600 dark:focus:to-pink-300;
}
