@import 'tailwindcss';

/* Tailwind Plugins */
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* Skeleton Theme */
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

/* Add your theme import for your theme: "SveltyCMSTheme" here */
@import './themes/SveltyCMS/SveltyCMSTheme.css';
